<div class="cart row container">
    <div class="col cart-items">
      <h2>Cart Items</h2>
      <ul>
        <li *ngFor="let item of cartItems">
          <label>
            <input type="checkbox" [(ngModel)]="item.isSelected" (change)="handleItemSelection($event, item)" />
            
          </label>
          <span>  {{ item.product.name }}  </span>   {{item.product.price}}  <span> </span> <span>{{item.quantity}}</span>
        </li>
      </ul>
    </div>
  

    <div class="col-md-3 order-summary">
      <h2>Order Summary</h2>
      <p>Total Items: {{ orderSummary.totalItems }}</p>
      <p>Total Amount: ${{ orderSummary.totalAmount }}</p>
      <button routerLink="/orders" class="btn btn-primary">Checkout</button>
    </div>
  </div>
  
